* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #222;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
	background-repeat: repeat;
}

body {
	background: transparent!important;
}

/** 
  * Element which wraps all of the other .meny parts 
  */
.meny-wrapper {
	-webkit-perspective: 800px;
	   -moz-perspective: 800px;
	    -ms-perspective: 800px;
	     -o-perspective: 800px;
	        perspective: 800px;

	-webkit-perspective-origin: 0% 50%;
	   -moz-perspective-origin: 0% 50%;
	    -ms-perspective-origin: 0% 50%;
	     -o-perspective-origin: 0% 50%;
	        perspective-origin: 0% 50%;
}

.meny,
.meny-contents {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-transition: -webkit-transform .4s ease;
	   -moz-transition: -moz-transform .4s ease;
	    -ms-transition: -ms-transform .4s ease;
	     -o-transition: -o-transform .4s ease;
	        transition: transform .4s ease;

	-webkit-transform-origin: 0% 50%;
	   -moz-transform-origin: 0% 50%;
	    -ms-transform-origin: 0% 50%;
	     -o-transform-origin: 0% 50%;
	        transform-origin: 0% 50%;
}

/** 
 * The menu element which expands out from the left.
 */
.meny {
	display: none;
	position: fixed;
	height: 100%;
	width: 300px;
	top: 0;
	left: 0;
	z-index: 2;
	margin: 0px;
	padding: 20px;

	-webkit-transform: rotateY( -30deg ) translateX( -100% );
	   -moz-transform: rotateY( -30deg ) translateX( -100% );
	    -ms-transform: rotateY( -30deg ) translateX( -100% );
	     -o-transform: rotateY( -30deg ) translateX( -100% );
	        transform: rotateY( -30deg ) translateX( -100% );
}
	.meny-ready .meny {
		display: block!important;
	}
	.meny-active .meny {
		-webkit-transform: rotateY(0deg);
		   -moz-transform: rotateY(0deg);
		    -ms-transform: rotateY(0deg);
		     -o-transform: rotateY(0deg);
		        transform: rotateY(0deg);
	}

/** 
 * Page contents which gets pushed aside while meny is active.
 */
.meny-contents {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
	.meny-active .meny-contents {
		-webkit-transform: translateX( 300px ) rotateY( 15deg );
		   -moz-transform: translateX( 300px ) rotateY( 15deg );
		    -ms-transform: translateX( 300px ) rotateY( 15deg );
		     -o-transform: translateX( 300px ) rotateY( 15deg );
		        transform: translateX( 300px ) rotateY( 15deg );
	}

/**
 * A shadow-like element placed on top of the contents while 
 * meny is active.
 */
.meny-contents .cover {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	z-index: 1000;
	opacity: 0;

	background: -moz-linear-gradient(left,  rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(left,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);

	-webkit-transition: all .4s ease;
	   -moz-transition: all .4s ease;
	    -ms-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
	.meny-ready .meny-contents .cover {
		display: block;
	}
	.meny-active .meny-contents .cover {
		visibility: visible;
		opacity: 1;
	}

/**
 * Graphic that highlights menu availability while inactive.
 */
.meny-arrow {
	position: absolute;
	top: 45%;
	left: 0px;
	z-index: 1;
	font-family: sans-serif;
	font-size: 12px;
	opacity: 0;

	-webkit-transform: rotate( 90deg );
	   -moz-transform: rotate( 90deg );
	    -ms-transform: rotate( 90deg );
	     -o-transform: rotate( 90deg );
	        transform: rotate( 90deg );

	-webkit-transform-origin: 0px 0px;
	   -moz-transform-origin: 0px 0px;
	    -ms-transform-origin: 0px 0px;
	     -o-transform-origin: 0px 0px;
	        transform-origin: 0px 0px;

	-webkit-transition: all 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	   -moz-transition: all 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	    -ms-transition: all 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	     -o-transition: all 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	        transition: all 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
	.meny-arrow span {
		position: relative;
		top: 2px;
	}
	.meny-ready .meny-arrow {
		left: 18px;
		opacity: 0.7;
	}
	.meny-active .meny-arrow {
		left: -40px;
		opacity: 0;
	}


/**
 * Fallback for browsers that don't support transforms.
 */

.meny-no-transform .meny,
.meny-no-transform .meny-contents {
	-webkit-transition: left .4s ease;
	   -moz-transition: left .4s ease;
	    -ms-transition: left .4s ease;
	     -o-transition: left .4s ease;
	        transition: left .4s ease;
}

.meny-no-transform .meny {
	left: -300px;
}
	.meny-no-transform.meny-active .meny {
		left: 0px;
	}

.meny-no-transform .meny-contents {
	position: absolute;
}
	.meny-no-transform.meny-active .meny-contents {
		left: 300px;
	}


/**
 * Styles that are more or less specific to the demo page:
 */

.meny {
	background: #333;
	color: #eee;
	font-family: 'Lato', 'Molengo', sans-serif;
}
	.meny h2 {
		font-size: 24px;
	}
	.meny a {
		color: #c2575b;
		text-decoration: none;

		-webkit-transition: 0.15s color ease;
		   -moz-transition: 0.15s color ease;
		    -ms-transition: 0.15s color ease;
		     -o-transition: 0.15s color ease;
		        transition: 0.15s color ease;
	}
		.meny a:hover {
			color: #f76f76;
		}
	.meny ul {
		margin-top: 10px;
	}
		.meny ul li {
			list-style: none;
			font-size: 20px;
			padding: 3px 10px;
		}
			.meny ul li:before {
				content: '-';
				margin-right: 5px;
				color: rgba( 255, 255, 255, 0.2 );
			}

